* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  :root {
	--index: calc(1vw + 1vh);
	--color-header: black; /* Dark gray */
	--color-text: black; /* Lighter gray */
	--gallery-gap: calc(var(--index) * 7.5);
  }

  

  
  @font-face {
	font-family: raleway-c;
	src: url(../fonts/Graduate-Regular.woff2);
  }
  
  @font-face {
	font-family: outfit-c;
	src: url(../fonts/Graduate-Regular.woff2);
  }
  
  h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
  }
  
  /* will-change */
  .content, .hero, .main-header, .gallery > * {
	will-change: transform;
  }
  
  body {
	background-color: #f4efec;
	color: var(--color-text);
	font-family: raleway-c;
	overflow-x: hidden;
  }
  
  .hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 37vw;
	top: 22vh;
	z-index: -1;
  }
  
  .main-header {
	height: 100vh;
  }
  
  .container {
	padding: 0 7vw;
  }
  
  .main-title {
	font-size: calc(var(--index) * 7);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: 0.9;
  }
  
  .gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
  }
  
  .gallery__left,
  .gallery__right {
	flex: 1;
  }
  
  .gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
	transition: transform 0.3s ease;
  }
  
  .gallery__item:hover {
	transform: scale(1.05);
  }
  
  .gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
  }
  
  .gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
  }
  
  .text-block {
	color: var(--color-text);
	position: relative;
  }
  
  .text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
  }
  
  .text-block__p {
	line-height: 1.75;
  }
  
  .name {
	font-size: calc(var(--index) * 2);
	position: absolute;
	width: min-content;
	bottom: 2vh;
	line-height: 0.9;
  }
  
  .caption {
	margin-top: 10px;
	font-style: italic;
	color: #777;
	font-family: "Caveat", sans-serif;
  }
  
  .quote {
	font-family: "Gravitas", sans-serif;
	font-size: 18px;
	color: #555;
	font-style: italic;
	background-color: #eee;
	padding: 20px;
	margin: 20px;
	border-radius: 8px;
  }
  